/* Reseting the global styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Global Variable */
:root {
	/* for item 1 */
	--item1-transform: translate(-100%, -5%) scale(1.5);
	--item1-filter: blur(30px);
	--item1-zindex: 11;
	--item1-opacity: 0;

	/* for item 2 */
	--item2-transform: translate(0, 0);
	--item2-filter: blur(0);
	--item2-z-index: 10;
	--item2-opacity: 1;

	/* for item 3 */
	--item3-transform: translate(50%, 10%) scale(0.8);
	--item3-filter: blur(10px);
	--item3-z-index: 9;
	--item3-opacity: 1;

	/* for item 4 */
	--item4-transform: translate(90%, 20%) scale(0.5);
	--item4-filter: blur(30px);
	--item4-z-index: 8;
	--item4-opacity: 1;

	/* for item 5 */
	--item5-transform: translate(120%, 30%) scale(0.3);
	--item5-filter: blur(40px);
	--item5-z-index: 7;
	--item5-opacity: 0;
}
body {
	font-family: "Poppins", system-ui;
	font-style: normal;
}
.menu-list-container a {
	text-decoration: none;
}
.menu-list-container a li {
	list-style: none;
}
.carousel-container {
	position: relative;
	height: 800px;
}
.carousel-container .list {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1140px;
	max-width: 90%;
	height: 80%;
	transform: translateX(-50%);
}
/* Carousel Item */
.carousel-container .list .item {
	position: absolute;
	left: 0;
	top: 0;
	width: 70%;
	height: 100%;
	font-size: 15px;
}
/* Carousel Img */
.carousel-container .list .item .slider-img img {
	width: 50%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.carousel-container .list .item .details {
	opacity: 0;
	pointer-events: none;
}
.carousel-container .list .item .intro {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 400px;
	opacity: 0;
	pointer-events: none;
}
.carousel-container .list .item .intro .topic {
	font-size: 1.5em;
}
.carousel-container .list .item .intro .title {
	font-size: 2em;
	font-weight: bold;
	padding: 5px 0;
}
.carousel-container .list .item .intro .short-description {
	font-size: small;
}
.carousel-container .list .item .intro .see-more-btn {
	margin-top: 5px;
}
.carousel-container .list .item .intro .see-more-btn button {
	font-size: small;
	font-weight: bold;
	background-color: transparent;
	font-family: "Poppins";
	border: none;
	border-bottom: 1px solid #555;
	padding: 5px 0;
	cursor: pointer;
	transition: letter-spacing 0.3s ease-in-out;
}
.carousel-container .list .item .intro .see-more-btn button:hover {
	letter-spacing: 1px;
}
.carousel-container .list .item:nth-child(2) .intro {
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.5s;
}
.carousel-container .list .item:nth-child(n + 6) {
	opacity: 0;
	pointer-events: none;
}
/* Active Item */
.carousel-container .list .item:nth-child(2) {
	transform: var(--item2-transform);
	filter: var(--item2-filter);
	z-index: var(--item2-z-index);
	opacity: var(--item2-opacity);
}
/* Item 1 */
.carousel-container .list .item:nth-child(1) {
	transform: var(--item1-transform);
	filter: var(--item1-filter);
	z-index: var(--item1-zindex);
	opacity: var(--item1-opacity);
	pointer-events: none;
}
/* Item 3 */
.carousel-container .list .item:nth-child(3) {
	transform: var(--item3-transform);
	filter: var(--item3-filter);
	z-index: var(--item3-z-index);
	opacity: var(--item3-opacity);
}
/* Item 4 */
.carousel-container .list .item:nth-child(4) {
	transform: var(--item4-transform);
	filter: var(--item4-filter);
	z-index: var(--item4-z-index);
	opacity: var(--item4-opacity);
}
/* Item 5 */
.carousel-container .list .item:nth-child(5) {
	transform: var(--item5-transform);
	filter: var(--item5-filter);
	z-index: var(--item5-z-index);
	opacity: var(--item5-opacity);
	pointer-events: none;
}
.arrows {
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 1140px;
	max-width: 90%;
}
.arrows #prev,
.arrows #next {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-family: monospace;
	font-size: large;
	font-weight: bold;
	border: 1px solid #555;
	background-color: #ffff;
	transition: background-color 0.3s ease-in-out;
}
.arrows #prev:hover,
.arrows #next:hover {
	border: 2px solid #555;
	background-color: #d4d4f8;
}
.arrows #back {
	font-weight: 500;
	border: 0px solid #fff;
	border-bottom: 1px solid #555;
	letter-spacing: 3px;
	padding: 0 5px;
	transition: letter-spacing 0.5s ease-in-out, background-color 0.5s ease-in-out;
	/* primarily hidden */
	opacity: 0;
	pointer-events: none;
}
.arrows #back:hover {
	background-color: #d4d4f8;
	letter-spacing: 5px;
}
