/* Reseting the global styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", system-ui;
	font-style: normal;
}

.menu-list-container a {
	text-decoration: none;
}
.menu-list-container a li {
	list-style: none;
}
